:root {
  --color-unfocused-tabs-bg: #181A1F;
  --color-unfocused-tabs-fg: #A9B2C3;
  --color-focused-tabs-bg: #21252B;
  --color-focused-tabs-fg: #C6CCD7;
  --color-urlbar-separator: #383838;
  --color-urlbar-bg: #181A1F;
  --color-urlbar-fg: #C6CCD7;
  --color-urlbar-popup-url: ##A9B2C3;
  --color-urlbar-selected-bg: #21252B;
  --color-urlbar-selected-fg: #eee;
  --color-urlbar-selected-popup-url: #fff;
  --color-sidebar-bg: #181A1F;
  --color-sidebar-fg: #A9B2C3;
}
