:root {
  --color-unfocused-tabs-bg: #222;
  --color-unfocused-tabs-fg: #eee;
  --color-focused-tabs-bg: #383838;
  --color-focused-tabs-fg: #eee;
  --color-urlbar-separator: #383838;
  --color-urlbar-bg: #222;
  --color-urlbar-fg: #eee;
  --color-urlbar-popup-url: #383838;
  --color-urlbar-selected-bg: #383838;
  --color-urlbar-selected-fg: #eee;
  --color-urlbar-selected-popup-url: #fff;
  --color-sidebar-bg: #3c3836;
  --color-sidebar-fg: #eee;
}
